<div class="modal-header">
    <div class="transparency"></div>
    <h2 class="modal-title" id="modal-title">Biography</h2>
</div>
<div class="modal-body" id="modal-body">

    <div>
        Stephen Linde is a Signature member of the Connecticut Pastel Society. 
        He has taught art in the Newington school system for over forty years. 
        Steve did his undergraduate and graduate work at CCSU. He has won
        awards at the CPS Renaissance Show, the CPS Member’s show, and the Waterville
        Intown Arts Fest in Waterville, Maine. Steve has had one-man shows, has exhibited
        his works at other venues and has also exhibits at the Lyme Artists Association.
    </div>

    <h3>Contact Info</h3>
    <div>
        Email: <a style="color:white" href="mailto:salinde@lycos.com">salinde@lycos.com</a>
    </div>
    <div>
        Phone: (860) - 413 - 9439
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.close()">OK</button>
</div>