<div on-scroll parallax-bg>

    <div class="galleryContainer" style="">
        <div ng-repeat="eachImg in vm.images" class="imageFrame">&nbsp;
            <div class="boundingBox" style="position:relative;" ng-click="vm.selectImage(eachImg)">
            
                <div class="overlay">
                    <div class="imageText">
                        <div class="title">
                            {{eachImg.title}}
                        </div>
                        <div class="desc">
                            {{eachImg.desc}}
                        </div>
                    </div>
                    <div class="transparency"></div>
                </div>

                <img ng-class="{'pan' : eachImg.pan, 'standard' : !eachImg.pan}" ng-src="{{eachImg.path}}"/>
                
            </div>
        </div>
        <div class="push">&nbsp;</div>
    </div>
    
    <div class="carousel" ng-show="vm.showCarousel()">
        
        <span ng-click="vm.closeCarousel()" class="closeCarousel glyphicon glyphicon-remove" aria-hidden="true"></span>
        
        <span ng-click="vm.loadPreviousImage()" class="carouselPrevious glyphicon glyphicon-menu-left" aria-hidden="true"></span>
        <span ng-click="vm.loadNextImage()" class="carouselNext glyphicon glyphicon-menu-right" aria-hidden="true"></span>
        
        <div class="transparency"></div>

        <div ng-class="{'carouselImg' : true, 'showImgCarousel' : vm.showCarousel()}">
         
            <!--<div class="title carouselText" ng-show="vm.showCarousel() && vm.getImagePosition()==0">
                {{vm.selectedImage[0].title}}
            </div>
            <div class="title carouselText" ng-show="vm.showCarousel() && vm.getImagePosition()==1">
                {{vm.selectedImage[1].title}}
            </div>-->
         
            <img 
                ng-class="{ 'carouselImg': true, 'carouselImgNext' : vm.nextImage, 'carouselImgPrevious' : vm.previousImage}" 
                ng-show="vm.showCarousel() && vm.getImagePosition()==0" 
                ng-swipe-left="vm.loadNextImage()" 
                ng-swipe-right="vm.loadPreviousImage()" 
                ng-click="vm.clicked()" 
                ng-src="{{vm.selectedImage[0].path}}"
            />
            
            <img 
                ng-class="{ 'carouselImg': true, 'carouselImgNext' : vm.nextImage, 'carouselImgPrevious' : vm.previousImage}" 
                ng-show="vm.showCarousel() && vm.getImagePosition()==1" 
                ng-swipe-left="vm.loadNextImage()" 
                ng-swipe-right="vm.loadPreviousImage()" 
                ng-click="vm.clicked()" 
                ng-src="{{vm.selectedImage[1].path}}"/>
        </div>

        <div class="desc carouselText" ng-show="vm.showCarousel() && vm.getImagePosition()==0">
           <span class="title">{{vm.selectedImage[0].title}}</span> - {{vm.selectedImage[0].desc}}
        </div>

        <div class="desc carouselText" ng-show="vm.showCarousel() && vm.getImagePosition()==1">
            <span class="title">{{vm.selectedImage[1].title}}</span> - {{vm.selectedImage[1].desc}}
         </div>
         
    </div>
</div>